VITE_ENV_NAME=example
VITE_AUTH_SERVER_URL=https://auth.seu-dominio.com
VITE_CLIENT_ID=modulo-professor-frontend
VITE_REDIRECT_URI=https://professor.seu-dominio.com/auth/callback
VITE_API_BASE_URL=https://api.seu-dominio.com/api
VITE_USE_NGROK_HEADER=false